<!-- <div><h1>Hello World</h1></div>

<button>A</button> <button>B</button> <button>C</button>

<div>
  <p>Inputs metadata used to send paret to child data</p>
  Parent Input: <input type="text" #pCom (keyup)="0">
</div>



<app-about [pData]="pCom.value" (childEvent)="getChildData($event)"></app-about>

<div>
  <p>Data comping form child: {{chidlData}}</p>
</div>


<ul>
@for(emp of localdata; track emp.idNumber) {
      <li>{{emp.idNumber}} - {{emp.vName}}</li>
    }
  </ul> -->

<router-outlet></router-outlet>